<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Ticket Information</title>
</head>
<body>
    <header class="bg-light py-3">
        <div class="container">
            <div class="d-flex align-items-center">
                <img src="/img/main-logo.png" alt="Main Logo" class="me-3">
                <div class="flex-grow-1 text-center">
                    <h2>Ticket Information</h2>
                </div>
                <div class="d-flex align-items-center">
                    <a href="/logout" class="btn btn-outline-danger me-2">Logout</a>
                    <a href="/register" class="btn btn-outline-primary">Register</a>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-light py-4">
        <div class="container">
            <div class="card shadow-sm rounded-3">
                <div class="card-body">

                    <p><strong>Purchaser:</strong> {{ticket.purchaser}}</p>
                    <p><strong>Amount:</strong> {{ticket.amount}} (Not processed products won't be charged)</p>
                    <p><strong>Purchase Date:</strong> {{ticket.purchase_datetime}}</p>
                    <p><strong>Ticket Code:</strong> {{ticket.code}}</p>

                    {{#if notProcessed}}
                        <h3 class="mt-4">Not processed products:</h3>
                        <ul class="list-group mt-2">
                            {{#each notProcessed}}
                                <li class="list-group-item">{{title}}</li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
